<div class="header">
  <h2>Binaural Tone Generator</h2>
  <p>Beat: <span ng-bind="beatFreq()"></span> Hz</p>
</div>

<div class="tone">
  <label>Tone</label>
  <input type="number" ng-model="freq" style="width: 40px"/> <label>Hz</label>
  <br/><br/>
</div>

<div class="channel">
  <button ng-click="toggleA()">toggle sound</button>
  <br/>
  <label>Left</label>
  <input type="range" ng-model="freqA" ng-change="changeFreq()" max="20" min="0"/> {{freq + (freqA - 10)}}Hz
</div>

<div class="channel">
  <button ng-click="toggleB()">toggle sound</button>
  <br/>
  <label>Right</label>
  <input type="range" ng-model="freqB" ng-change="changeFreq()" max="20" min="0"/>{{freq + (freqB - 10)}}Hz
</div>